@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: "Arvo", serif;
  font-size: 1.6rem;
  color: #707070;
  background-color: #fffffc;
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 2.2rem;
  margin: 3% 0;
}

p {
  line-height: 3rem;
  margin: 2% 0;
}

a {
  color: #707070;
  text-decoration: none;
  transition: all 0.2s;
  border-bottom: 1px solid #707070;
}

a:hover {
  color: #000000;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

img {
  vertical-align: bottom;
}

a:hover img {
  opacity: 0.8;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3% 25%;
}

#logo a {
  display: block;
  border: 2px solid #707070;
  background-color: #ffee00;
  padding: 1rem 2rem;
  border-radius: 5rem;
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
}

nav a {
  font-weight: bold;
  margin-left: 4%;
}

main {
  margin: 0 25%;
}

.container {
  padding: 3% 3% 6%;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  background-color: white;
}

.about-me-container {
  margin-bottom: 5%;
}

.about-me {
  display: flex;
  justify-content: space-between;
}

.about-me figure {
  width: 40%;
  height: auto;
  overflow: hidden;
  border-radius: 1rem;
  margin-left: 2%;
}

.about-me figure img {
  width: 100%;
  height: auto;
}

.projects-container {
  margin-bottom: 5%;
}

.projects-container ul {
  list-style-type: none;
}

.projects-container li {
  margin-bottom: 4%;
}

.projects-container span {
  cursor: pointer;  
}

.projects-container span i {
  display: inline-block;
  transition: all 0.5s;
  color: #ffee00;
}

.projects-container span i.on {
  transform: rotate(90deg);
}

.projects-container figure {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  transition: all 0.5s;
  border-radius: 0.5rem;
}

.projects-container figure.off {
  max-height: 0;
}

.projects-container figure.on {
  margin: 5% auto;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  max-height: 35rem;
}

.projects-container figure img {
  max-height: 100%;
  max-width: 100%;
}

.projects-container .gt {
  transition: all 0.5s;
}

.projects-container .gt-on {
  transform: rotate(90deg);
}

.skills-container {
  margin-bottom: 5%;
}

.skills-container i {
  font-size: 4rem;
}

.skills i {
  font-size: 4rem;
  margin-right: 4%;
  margin-bottom: 2%;
}

.contact-container {
  margin-bottom: 5%;
}

.contact-container a {
  border-bottom: none;
}

.contacts i {
  font-size: 4rem;
  margin-right: 4%;
  text-decoration: line-through;
}

footer {
  margin-top: 10%;
  padding: 2%;
  display: flex;
  justify-content: center;
}
